<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/webjars/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/main.css}"  rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container">
        <!--<span class="navbar-brand" th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</span>-->
        <a th:href="@{/home}"><span class="navbar-brand">BillTracker</span></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/record">Records<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bill">Bills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/item">Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/person">Persons</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
                <input class="btn btn-danger my-2 my-sm-0" type="submit" value="Logout"/>
            </form>
        </div>
    </div>
</nav>

<div class="container">
    <h1 class="text-center">All Records</h1>
    <a href="/record/addRecord" class="btn btn-success add-bills">
        Add New Records
    </a>
    <div class="alert alert-success alert-dismissible fade show" th:if="${success != null}" role="alert">
        <!--/*@thymesVar id="success" type="java.lang.String"*/-->
        <span th:text="${success}"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<div class="container record-list">
    <div th:if="${records.isEmpty()}">
        <h3 class="text-center">Click on Add Button to add new Records</h3>
    </div>
    <div th:unless="${records.isEmpty()}">
        <table class="table table-hover table-responsive-sm">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date From</th>
                <th scope="col">Date To</th>
                <th scope="col">Bills</th>
                <th scope="col">ShareInfos</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="record, i:${records}">
                <th scope="row" th:text="${i.count}"></th>
                <td th:text="${record.getDateFrom()}"></td>
                <td th:text="${record.getDateTo()}"></td>
                <td th:text="${record.getBills()}"></td>
                <td>
                    <div th:each="shareInfo: ${record.shareInfos}">
                        <span th:text="${shareInfo.sender.name + ' pays to ' + shareInfo.receiver.name + ' amount of $' + shareInfo.amount }"></span>
                    </div>
                </td>
                <td>
                    <a class="btn btn-primary btn-sm edit-record" th:href="@{/record/editRecord/{id}(id=${record.getId()})}">
                        <span class="oi oi-pencil"></span> Edit
                    </a>
                    <a class="btn btn-danger btn-sm delete-record" th:href="@{/record/deleteRecord/{id}(id=${record.getId()})}">
                        <span class="oi oi-trash"></span> Delete
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/jquery-validation/1.19.0/jquery.validate.min.js"></script>
<script src="/webjars/popper.js/1.12.9/umd/popper.js"></script>
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script th:src="@{/js/main.js}"></script>

</body>
</html>